@import 'variables';
@import 'functions';
@import 'shared_styles';

.main__contacto {
  background-color: $azul-claro;
  padding: 100px 0 0 0;

  .container {
    display: flex;
    flex-direction: column;
    max-width: 1268px;
    padding: 0 40px;

    .contacto__divContenido {
      .divContenido__bloqueTitulos {
        width: 100%;

        .bloqueTitulos__contacto {
          color: $verde-manzana;
          font-family: $font-haskoy_bold;
          font-size: rem(24);
          font-weight: 700;
          line-height: 0.8;
          margin-bottom: 20px;
        }

        .bloqueTitulos__pregunta {
          color: $verde-ric;
          font-family: $font-interstate;
          font-size: rem(80);
          line-height: 1;
          font-weight: 700;
          margin-bottom: 20px;
        }
      }

      .divContenido__bloqueTexto {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .bloqueTexto__textoEnlace {
          width: 46%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          .textoEnlace__dudas {
            color: $verde-ric;
            font-family: $font-haskoy_medium;
            font-size: rem(26);
            line-height: 1.15;
            font-weight: 500;
            text-align: right;
            margin-bottom: 40px;
          }

          .textoEnlace__enlaceContacto {
            .enlaceContacto__link {
              text-decoration: none;
              padding: rem(28) rem(26);
              font-size: rem(18);
              line-height: 1;
              font-weight: 500;
              background-color: $verde-lima;
              border: 0;
              color: $gris-oscuro;
              font-family: $font-haskoy_medium;
              display: flex;
              justify-content: center;
              align-items: center;

              &:hover {
                background-color: $verde-hover;

                .contacto__row {
                  transform: translateX(5px);
                }
              }

              .contacto__row {
                padding-left: rem(8);
                transition: transform linear 0.2s;
              }
            }
          }
        }
      }
    }
  }

  .contacto__mountains {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .main__contacto {
    padding-top: 40px;

    .container {
      padding: 0 20px;

      .contacto__divContenido {
        .divContenido__bloqueTitulos {
          .bloqueTitulos__contacto {
            font-size: rem(16);
            margin-bottom: 12px;
          }

          .bloqueTitulos__pregunta {
            font-size: rem(50);
          }
        }

        .divContenido__bloqueTexto {
          .bloqueTexto__textoEnlace {
            width: 90%;

            .textoEnlace__dudas {
              font-size: rem(16);
            }

            .textoEnlace__enlaceContacto {
              margin-bottom: rem(8);

              .enlaceContacto__link {
                .link__btnContacto {
                  padding: rem(20) rem(26);
                  font-size: rem(16);
                }
              }
            }
          }
        }
      }
    }
  }
}