@import 'variables';
@import 'functions';

.footer {
    padding: rem(56) 2.5vw rem(32);

    .footer__sectionppal {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $gris-oscuro;
        padding-bottom: rem(16);

        .sectionppal__logotipo {
            display: flex;
            justify-content: end;
            align-items: end;
            padding-bottom: rem(16);

            .logotipo__ric {
                width: 100px;
                margin-bottom: rem(24);
            }
        }

        .sectionppal__enlaces {
            display: flex;
            justify-content: end;
            width: 100%;

            .enlaces__columna {
                width: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: rem(96);
                min-width: 210px;

                .columna__linkTitle {
                    text-decoration: none;
                }

                .columna__title {
                    font-family: $font-haskoy_semibold;
                    color: $verde-ric;
                    font-size: rem(20);
                    margin-bottom: rem(18);
                    font-weight: 600;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 0;
                        height: 1px;
                        background-color: $verde-ric;
                        transition: width linear 0.2s;
                    }

                    &:hover::after {
                        width: 100%;
                    }
                }

                .columna__link {
                    text-decoration: none;
                    font-family: $font-haskoy_regular;
                    color: $gris-oscuro;
                    font-size: rem(18);
                    font-weight: 400;
                }
            }
        }
    }

    .footer__sectionFinal {
        padding-top: rem(24);
        display: flex;
        justify-content: space-between;

        .sectionFinal__politicas {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .politicas__bloque {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: rem(48);

                .bloque__enlacePoliticas {
                    text-decoration: none;
                    font-family: $font-haskoy_regular;
                    color: $gris-oscuro;
                    font-size: rem(14);
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 0;
                        height: 1px;
                        background: $gris-oscuro;
                        transition: width linear 0.2s;
                    }

                    &:hover::after {
                        width: 100%;
                    }
                }
            }
        }

        .sectionFinal__redesSociales {
            width: 50%;
            display: flex;
            justify-content: right;
            align-items: end;

            .redesSociales__bloque {
                text-decoration: none;

                .bloque__enlaceRedesSociales {
                    width: 78px;
                    height: 78px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .instagram {
                background-color: $verde-manzana;
            }

            .facebook {
                background-color: $verde-bosque;
            }

            .twitter {
                background-color: $verde-ric;
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    .footer {
        padding: rem(40) 3.5vw rem(40);

        .footer__sectionppal {
            .sectionppal__enlaces {
                .enlaces__columna {
                    margin-left: rem(32);
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .footer {
        padding: rem(40);

        .footer__sectionppal {
            justify-content: flex-start;
            padding-bottom: 0;
            flex-direction: column;
            align-items: flex-start;

            .sectionppal__logotipo {
                align-self: center;
                padding-bottom: 0;

                .logotipo__ric {
                    width: 50px;
                    margin-bottom: rem(24);
                }
            }

            .sectionppal__enlaces {
                justify-content: center;
                flex-direction: column;
                align-items: center;

                .enlaces__columna {
                    align-items: center;
                    margin-left: 0;
                    margin-top: 30px;
                }
            }
        }

        .footer__sectionFinal {
            justify-content: center;
            flex-direction: column;
            align-items: center;


            .sectionFinal__politicas {
                justify-content: center;
                flex-direction: column;

                .politicas__bloque {
                    justify-content: center;
                    padding-right: 0;
                    margin-bottom: 20px;
                }
            }

            .sectionFinal__redesSociales {
                justify-content: center;
                width: 100%;
            }
        }
    }
}