@import 'variables';
@import 'functions';
@import 'shared_styles';

.main__nosotros {
  width: 100%;
  padding: rem(120) rem(40);
  background-color: #fff;

  .nosotros__cabecera {
    padding-bottom: rem(60);

    .cabecera__titulo {
      font-family: $font-interstate;
      color: $azul-egeo;
      font-size: rem(48);
    }
  }

  .nosotros__bloques {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

    .bloques__resumen {
      width: 100%;
      max-width: calc(33.3% - 16px);
      //height: 17vw;
      height: 329px;
      min-height: 256px;
      background-size: cover;
      background-position: right;
      background-repeat: no-repeat;
      position: relative;
      overflow: hidden;

      .resumen__background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transform: translateX(100%);
        transition: transform 0.2s ease;
      }

      .resumen__title {
        font-family: $font-haskoy_medium;
        color: $azul-egeo;
        font-size: rem(68);
        line-height: 1.17;
        font-weight: 500;
        padding-left: rem(48);
        padding-top: rem(24);

        .unidades {
          font-family: $font-haskoy_bold;
          font-size: rem(28);
        }
      }

      .resumen__contenido {
        color: #fff;
        font-family: $font-haskoy_bold;
        font-size: rem(22);
        line-height: 26px;
        padding-left: rem(48);
      }

      .resumen_subtitle {
        color: #fff;
        font-family: $font-haskoy_bold;
        font-size: rem(28);
        line-height: 22px;
        padding-left: rem(48);
      }

      .resumen__title,
      .resumen__contenido,
      .resumen_subtitle {
        transition: opacity 0.2s ease;
      }

      &:hover {
        .resumen__title,
        .resumen__contenido,
        .resumen_subtitle {
          opacity: 0;
        }

        .resumen__background {
          transform: translateX(0);
        }
      }
    }
  }
}


@media only screen and (max-width: 1440px) {
  .main__nosotros {
    .nosotros__cabecera {
      padding-bottom: rem(60);

      .cabecera__titulo {
        font-size: rem(48);
      }
    }

    .nosotros__bloques {
      .bloques__resumen {
        height: 23vw;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .main__nosotros {
    padding: rem(40) rem(20);

    .nosotros__cabecera {
      padding-bottom: rem(32);

      .cabecera__titulo {
        font-size: rem(38);
      }
    }

    .nosotros__bloques {
      .bloques__resumen {
        max-width: calc(50% - 16px);
        //295px
        height: 31vw;
        background-size: contain;
        background-position: bottom;
        background-color: $verde-manzana;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .main__nosotros {
    .nosotros__bloques {
      .bloques__resumen {
        max-width: 100%;
        height: 369px;
        background-position: right;

        .resumen__contenido {
          .mobile__nosotros {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 430px) {
  .main__nosotros {
    .nosotros__cabecera {
      padding-bottom: rem(1.6);
    }

    .nosotros__bloques {
      .bloques__resumen {
        min-height: 296px;
        background-position: bottom;
      }
    }
  }

}