@font-face {
  font-family: "Haskoy-Medium";
  src: url("../fonts/Haskoy_Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Haskoy-Bold";
  src: url("../fonts/Haskoy-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Haskoy-SemiBold";
  src: url("../fonts/Haskoy-SemiBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Haskoy-Regular";
  src: url("../fonts/Haskoy-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Interstate-Condensed";
  src: url("../fonts/Interstate_Condensed_Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.container {
  width: 100%;
  max-width: 1188px;
  margin: auto;
  overflow: hidden;
}

.main__partners {
  background-size: 100%;
  background-repeat: repeat-y;
  overflow-x: hidden;
  padding-top: 133px;
  padding-bottom: 133px;
}
.main__partners .container .partners__encabezado {
  width: 100%;
  max-width: 732px;
  margin: 0 auto;
}
.main__partners .container .partners__encabezado .encabezado__title {
  font-family: "Interstate-Condensed";
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.04;
  text-align: center;
  margin-bottom: 1.5rem;
}
.main__partners .container .partners__encabezado .encabezado__parrafo {
  font-family: "Haskoy-Medium";
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.33;
  font-weight: 700;
  text-align: center;
}
.main__partners .container .partners__slider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 6.5rem;
  margin-bottom: 2rem;
}
.main__partners .container .partners__slider .slider__object {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__partners .container .partners__slider .slider__object .object__partner {
  max-width: initial;
  max-height: 100%;
}
.main__partners .container .controls__slider {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.main__partners .container .controls__slider .slider__arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2.25vw;
}
.main__partners .container .controls__slider .slider__arrows .arrows__arrow .arrow__btn {
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
}
.main__partners .container .controls__slider .slider__arrows .arrows__arrow .arrow__btn .btn__img {
  width: 3.125rem;
  height: 2.5rem;
}
.main__partners .container .controls__slider .slider__arrows .arrows__arrow .opacity_partners {
  opacity: 0.5;
}
.main__partners .container .controls__slider .slider__progressBar {
  width: 100%;
  margin: 1rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__partners .container .controls__slider .slider__progressBar .progressbar__section {
  border-bottom: 2px solid #fff;
  width: 33%;
}
.main__partners .container .controls__slider .slider__progressBar .active_partners {
  border-bottom: 15px solid #fff;
}

@media only screen and (max-width: 992px) {
  .main__partners {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-size: 1440px;
  }
  .main__partners .container .partners__encabezado {
    max-width: 100%;
  }
  .main__partners .container .partners__encabezado .encabezado__title {
    font-size: 2.375rem;
  }
  .main__partners .container .partners__encabezado .encabezado__parrafo {
    font-size: 1.1875rem;
    font-weight: inherit;
  }
  .main__partners .container .partners__slider {
    margin-top: 1.875rem;
  }
  .main__partners .container .partners__slider .slider__object .object__partner {
    width: 21vw;
  }
  .main__partners .container .controls__slider {
    margin: 0 10.5vw;
  }
  .main__partners .container .controls__slider .slider__progressBar {
    margin: 0.5rem 0 0;
  }
  .main__partners .container .controls__slider .slider__arrows .arrows__arrow .arrow__btn .btn__img {
    width: 1.625rem;
    height: 1.3125rem;
  }
}

/*# sourceMappingURL=partners_section.css.map */
